.books-list {
  background-color: $veryLightGray;
}

.books {

  &__grid {
    @include breakpoint-up(medium) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    text-align: center;
    border: 1px solid $grayishBlue;
    background-color: $white;
    margin: 1.875rem; // 30px
    transition: all 200ms ease-in-out;
    position: relative;

    &:hover {
      border: 1px solid $darkBlue;
      box-shadow: 11px 10px 19px -6px #777;
    }

    @include breakpoint-up(medium) { // 2 cols
      flex: 0 0 46%;
      margin: 0.625rem; // 10px
    }

    @include breakpoint-up(large) { // 4 cols
      flex: 0 0 20%;
      margin: 1.25rem; // 20px
    }

    .delete-btn {
      position: absolute;
      bottom: 3px;
      left: 50%;
      transform: translateX(-50%);
    }

  }

  &__cover {
    width: 100%;
    height: auto;
    margin: 0 auto 0.625rem auto;
  }

  &__title {
    margin-bottom: 0.625rem;
    font-size: $font-lg;
  }

  &__author {
    margin-top: 0;
    color: $darkBlue;
    margin-bottom: 3.125rem; // 50px
  }
}

 




