// Colors
$darkBlue: #0e0220;
$hotPink: #ff2e63;
$yellow: #f5a622;
$brightCyan: #48e0e4;
$lightBlue: #d7fbf6;
$grayishBlue: #9698a6;
$veryLightGray: #fafafa;
$white: #fff;

// Font Sizes
$font-small: 0.8125rem; // 13px
$font-med: 1.125rem; // 18px
$font-lg: 1.375rem; // 22px
$font-xlg: 3.25rem; //52px

// Default image
$defaultImage: 'https://dwgyu36up6iuz.cloudfront.net/heru80fdn/image/upload/c_fill,d_placeholder_thescene.jpg,fl_progressive,g_face,h_450,q_80,w_800/v1590006383/thenewyorker_the-oddest-terms-used-for-antique-books-explained.jpg';