// Colors
$darkBlue: #0e0220;
$hotPink: #ff2e63;
$yellow: #f5a622;
$brightCyan: #48e0e4;
$lightBlue: #d7fbf6;
$grayishBlue: #9698a6;
$veryLightGray: #fafafa;
$white: #fff;

// Font Sizes
$font-small: 0.8125rem; // 13px
$font-med: 1.125rem; // 18px
$font-xlg: 3.25rem; //52px